<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{page-title}}</title>
	<link rel="stylesheet" type="text/css" href="/css/pure-min.css" />
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
	<link type="application/rss+xml" rel="alternate" href="/feed" />
</head>
<body>
<header class="pure-menu pure-menu-open pure-menu-fixed pure-menu-horizontal">

	<ul>
		<li class="pure-menu-selected"><a href="/" title="首页">{{site-name}}</a></li>
		{{#tags}}
		<li><a href="/tag/{{url}}">{{tag}}</a></li>
		{{/tags}}
	</ul>
</header>

<div class="content">
