{{> header}}
	<div id="desc">{{site-desc}}</div>
		{{#list}}
		<section id="post_{{id}}" class="author_{{account}}">
		<h2><a href="/post/{{id}}.html">{{title}}</a></h2>
	  {{date}} by {{account}}
		<div>{{{html}}}</div>
		</section>
		{{/list}}
		{{^list}}没有文章{{/list}}
		{{#next}}<a class="pure-button" href="?p={{next}}" style="float:right">next</a>{{/next}}
		{{#prev}}<a class="pure-button" href="?p={{prev}}">prev</a>{{/prev}}
{{> footer}}
