<!doctype html>
<html>
	<head>
		<title>Hello World</title>
		<link rel="stylesheet" type="text/css" href="/style.css">
	</head>
<body>
	<div class="container">
		<h1>hello {{name}}</h1>
	<p>How do you do?</p>
	胡正全
	</div>
</body>
</html>
