
body{background-color:#eee;}
div.content{max-width:800px;margin:0px auto;margin-top:60px;}
footer {
	background: #111;
	color: #666;
	text-align: center;
	padding: 1em;
	font-size: 80%;
}
header{overflow:hidden;height:35px;}
header.pure-menu li a{padding-left:4px; padding-right:4px;}
