{{> header}}
<div id="ret-string" style="display:none"></div>
<button class="pure-button" id="sync-button"><i class="icon-refresh"></i> 同步</button>
<script type="text/javascript">
$('#sync-button').click(function(){
	if($(this).find('i:first').hasClass('icon-spin')){
		alert('同步进行中，如果长时间没反应请刷新页面后再试');
		return;
	}
	$(this).find('i[class]').addClass('icon-spin');
	$.ajax({
		url: "/admin/sync.json",
		dataType: 'json',
		success: function(data){
			var html="<table><thead><tr><th>title</th><th>date</th><th>path</th></tr></thead><tbody>";
			for(var row in data){
				html+="<tr><td>"+row['title']+"</td><td>"+row['date']+"</td><td>"+row['path']+'</td></tr>';
			}
			html+='</tbody></table>';
        $('#ret-string').html(html);
        $('#ret-string').show();
				$('#sync-button>i').removeClass('icon-spin');
		},
		error: function(data){
        alert("出错了");
				$('#sync-button>i').removeClass('icon-spin');
		}
	});
});
</script>
{{> footer}}
