{{> header}}
<div id="ret-string" style="display:none"></div>
<button class="pure-button" id="sync-button"><i class="icon-refresh"></i> 同步</button>
<script type="text/javascript">
$('#sync-button').click(function(){
	if($(this).find('i:first').hasClass('icon-spin')){
		alert('同步进行中，如果长时间没反应请刷新页面后再试');
		return;
	}
	$(this).find('i[class]').addClass('icon-spin');
  $('#ret-string').hide();
	$.ajax({
		url: "/admin/sync.json",
		dataType: 'json',
		success: function(data){
			var html="<table class=\"pure-table pure-table-bordered\"><thead><tr><th>path</th><th>date</th></tr></thead><tbody>";
			$.each(data, function(i,row){
				html+="<tr><td>"+row.path+"</td><td>"+row.modified+"</td></tr>";
			});
			html+='</tbody></table>';
        $('#ret-string').html(html);
        $('#ret-string').show();
				$('#sync-button>i').removeClass('icon-spin');
		},
		error: function(data){
        alert("出错了");
				$('#sync-button>i').removeClass('icon-spin');
		}
	});
});
</script>
{{> footer}}
