		<footer>rizuo.com beta, © 2013</footer>
	</div>
</div>

<script src="/js/jquery-2.0.3.min.js"></script>
<script type="text/javascript">
$('.nav-menu-button').click(function(){
$('.nav-inner').slideToggle("slow");
return false;
});
</script>

</body>
</html>
