<!DOCTYPE HTML>
<html>
	<head>
	<title>{{site-title}} | admin</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/css/pure-min.css" />
	<!--link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.2.1/pure-min.css"-->
	<link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/css/admin.css">
	<script src="/js/jquery-2.0.3.min.js" type="text/javascript"></script>

	</head>
<body>
<div class="pure-g-r" id="layout">
	<div class="pure-u" id="nav">
		<a href="#" class="nav-menu-button" title="menu"><i class="icon-reorder"></i></a>
		<div class="nav-inner">
			<nav class="pure-menu pure-menu-open">
				<a class="pure-menu-heading" href="/">Soube</a>
				<ul>
					<li><a href="/admin/dashboard" title="dashboard"><i class="icon-dashboard icon-2"></i><span> 管 理</span></a></li>
					<li><a href="/admin/posts" title="posts"><i class="icon-list icon-2"></i><span> 文 章</span></a></li>
					<li><a href="/admin/settings" title="settings"><i class="icon-cog icon-2"></i><span> 设 置</span></a></li>
					<li><a href="/admin/tools" title="工具"><i class="icon-wrench icon-2"></i><span> 工 具</span></a></li>
				</ul>
			</nav>
		</div>
	</div>
	<div id="main" class="pure-u-1">
		<h1>{{admin-title}}</h1>
		<hr/>

