{{> header}}

<div class="pure-menu pure-menu-open pure-menu-horizontal" id="tabs">
<ul>
<li class="pure-menu-selected"><a href="import">导入</a></li>
<!--li><a href="tool2">tool2</a></li-->
</ul>
</div>

<div id="tools-list">
	<div id="tool-import">
	<h2>wordpress</h2>
	这个工具可以帮助你把wordpress的文章转为markdown格式。
	<a href="https://github.com/huzhengquan/wp2markdown-soube">https://github.com/huzhengquan/wp2markdown-soube</a>
	</div>
</div>

<script type="text/javascript">
function toggle(url_id){
	$('#tabs li').removeClass('pure-menu-selected'); 
	$('a[href='+url_id+']').parent().addClass('pure-menu-selected'); 
	$('div#tools-list>div').hide();
	$('div#tools-list>div[id=tool-'+url_id+']').show();
}

$('#tabs>ul>li>a[href]').click(function(){
	toggle($(this).attr('href'));
	return false;
});
toggle('import');
</script>

{{> footer}}
